@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.ErrorLoadingBody {
  width: 450px;
  height: 250px;
  border-radius: 25px;
  background-color: rgb(170, 153, 153);
  margin: 50px auto;
  color: rgb(120, 26, 26);
  border: 3px solid rgb(120, 26, 26);
}
.InsideOfErrorLoading {
  position: relative;
  text-align: center;
  background-color: rgb(170, 153, 153);
  font-family: "Roboto", sans-serif;
  top: 10%;
  margin: 0px;
}
.sadMen {
  width: 55px;
  height: 55px;
  position: relative;
  margin: 5px auto;
  border-radius: 25px;
  background-color: rgb(170, 153, 153);
  top: 62%;
}

.sadImg {
  margin: 5px auto;
  background-color: rgb(170, 153, 153);
  color: rgb(157, 56, 56);
}
