@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.ErrorLoadingBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: auto;
  border-radius: 25px;
  background-color: rgb(170, 153, 153);
  margin: 20px auto;
  color: rgb(120, 26, 26);
  border: 3px solid rgb(120, 26, 26);
  letter-spacing: 1px;
}
.InsideOfErrorLoading1 {
  background-color: rgb(170, 153, 153);
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0px;
}
.InsideOfErrorLoading2 {
  background-color: rgb(170, 153, 153);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 0px;
}
.ErrorImgBlock {
  width: 55px;
  border-radius: 25px;
  background-color: rgb(170, 153, 153);
}

.ErrorLoadingImg {
  background-color: rgb(170, 153, 153);
  color: rgb(157, 56, 56);
}
