.nav {
  display: flex;
  justify-content: space-between;
}
.nav .title {
  color: #4d2d00;
  font-size: 40px;
}
.menu-button .material-symbols-outlined {
  font-weight: bold;
  font-size: 48px;
  margin-left: 24px;
  cursor: pointer;
  color: #4d2d00;
}
.arrow_back-button .material-symbols-outlined {
  font-weight: bold;
  font-size: 48px;
  margin-right: 24px;
  cursor: pointer;
  color: #4d2d00;
}

.arrow_back-button a,
.menu-button a {
  text-decoration: none;
}
