.nav {
  display: flex;
  justify-content: space-between;
}
.nav .title {
  color: #4d2d00;
  font-size: 48px;
}
.menu-button .material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 48px;
  margin-left: 24px;
}
.arrow_back-button .material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 48px;
  margin-right: 24px;
}
