@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.nav {
  display: flex;
  justify-content: space-between;
}
.nav .title {
  color: #4d2d00;
<<<<<<< HEAD
  font-size: 40px;
}
.menu-button .material-symbols-outlined {
=======
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 23px;
  line-height: 0.95;
}
.menu-button .material-symbols-outlined {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
>>>>>>> origin/NavAdapt
  font-weight: bold;
  font-size: 38px;
  cursor: pointer;
  color: #4d2d00;
}
.arrow_back-button .material-symbols-outlined {
<<<<<<< HEAD
=======
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
>>>>>>> origin/NavAdapt
  font-weight: bold;
  font-size: 38px;
  cursor: pointer;
  color: #4d2d00;
}

.arrow_back-button a,
.menu-button a {
  text-decoration: none;
}
