.nav {
  display: flex;
  align-content: center;
}
.nav .title {
  color: #4d2d00;
  font-size: 4.2vh;
  position: relative;
  top: 3vh;
  margin: 0px auto;
}
.arrow_back-button .material-symbols-outlined {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 5vh;
  position:absolute;
  left: 5vw;
  top: 3vh;
  cursor: pointer;
  color: #4d2d00;
}

.arrow_back-button a,
.menu-button a {
  text-decoration: none;
}