.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  width: 48px;
  height: 48px;
  border: solid #4d2d00 2px;
  background-color: #ffe090; /* Set your desired background color */
  border-radius: 50%; /* Make sure to set border-radius to 50% */
}
.avatar .name {
}
.box {
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #4d2d00 2.5px;
  background-color: #ffe090;
  border-radius: 20px;
  min-width: 240px;
  min-height: 50px;
  text-align: left;
}
.text {
  font-size: small;
  align-self: flex-start;
  padding: 10px;
  max-width: 320px;
  background-color: #ffe090;
  border-radius: 20px;
}
