*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.main-block{
  width: 30%;
  height: 922px;
  margin: 0 auto;
  background-color: #FFF3BF;
}

.name{
  margin: 200px;
  height: 200px;
  margin: 0 auto;
  vertical-align: 0 auto;
  text-decoration: none;
}

.name-app{
  font-size: 96px;
  text-decoration: none;
}

h1{
  margin-top: 40px;
}