body {
  font-family: roboto;
  display: flex;
  justify-content: center;
  background-color: #fff3bf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
