body {
  font-family: roboto;
  display: flex;
  justify-content: center;
  background-color: #fff3bf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  width: 400px;
}
.card h2 {
  text-align: center;
  color: #4d2d00;
  padding: 12px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}
.image img {
  width: 300px;
  height: auto;
  border-radius: 28px;
}

.card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 24px;
}
.card-description .first-element {
  flex-basis: auto;
}
.card-description .second-element {
  flex-basis: auto;
}
.card-description .third-element {
  flex-basis: 0;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.nav span {
  color: #4d2d00;
  font-size: 36px;
}
