body {
  font-family: roboto;
  background-color: #fff3bf;
  max-width: 500px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
