.AdviceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}
.centeredText {
  font-size: 22px;
  color: #4d2d00;
  font-weight: bold;
  background-color: #ffe090;
  padding: 24px;
  border-radius: 20px;
}
